# Dataset Cross-Verification Report

**Generated On:** 2025-12-30 17:21:59.804459

| Column Name | ApolloFormat_nmbfinalDiabetes (4).csv | ApolloFormat_nmbfinalnewDiabetes (3).csv | ApolloFormat_PrePostFinal (3).csv | apolloCombined.csv |
|:---| :--- | :--- | :--- | :--- |
| **Diabetic_Duration** | Range: 0.0 - 70.0 | Values: [0] | Range: 0.0 - 67.0 | Range: 0.0 - 40.0 |
| **Duration_Status** | Values: [0, 1] | Values: [0] | Values: [0, 1] | Values: [0, 1, NaN] |
| **Physical activity_total_METSCORE_value** | Range: 0.0 - 9702.0 | Range: 0.0 - 9702.0 | Range: 0.0 - 9702.0 | Range: 0.0 - 9702.0 |
| **PhysicalActivity_Optimal** | Values: [0, 1] | Values: [0, 1] | Values: [0, 1] | Values: [0, 1] |
| **PostBLHBA1C** | Range: 4.1 - 14.8 | Range: 3.8 - 15.9 | Range: 3.2 - 15.9 | Range: 4.0 - 13.1 |
| **PostRgroupname** | Values: [1, 2] | Values: [1, 2] | Values: [1, 2, NaN] | Values: [1, 2] |
| **PreBLCHOLESTEROL** | Range: 86.0 - 390.0 | Range: 84.0 - 363.0 | Range: 59.0 - 448.0 | Range: 106 - 298 |
| **PreBLFBS** | Range: 70.0 - 495.0 | Range: 64.0 - 521.0 | Range: 61.0 - 521.0 | Range: 61 - 248 |
| **PreBLHBA1C** | Range: 4.3 - 14.7 | Range: 6.4 - 15.2 | Range: 3.1 - 15.5 | Range: 3.3 - 17.4 |
| **PreBLPPBS** | Range: 62.0 - 566.0 | Range: 71.0 - 554.0 | Range: 61.0 - 587.0 | Range: 91 - 384 |
| **PreBLTRIGLYCERIDES** | Range: 55.0 - 968.0 | Range: 51.0 - 952.0 | Range: 51.0 - 968.0 | Range: 75 - 549 |
| **PreRBMI** | Range: 15.3 - 41.5 | Range: 15.1 - 43.6 | Range: 13.2 - 47.6 | Unique Count: 139 (Non-Numeric) |
| **PreRarea** | Values: [1, 2] | Values: [1, 2] | Values: [1, 2, NaN] | Values: [2] |
| **PreRcurrentworking** | Values: [0, 1] | Values: [0, 1] | Values: [0, 1, NaN] | Values: [0, 1, NaN] |
| **PreRdiabrother** | Values: [0, 1] | Values: [0, 1] | Values: [0, 1, NaN] | Values: [0, 1, NaN] |
| **PreRdiafather** | Values: [0, 1] | Values: [0, 1] | Values: [0, 1, NaN] | Values: [0, 1, NaN] |
| **PreRdiamother** | Values: [0, 1] | Values: [0, 1] | Values: [0, 1, NaN] | Values: [0, 1, NaN] |
| **PreRdiasister** | Values: [0, 1] | Values: [0, 1] | Values: [0, 1, NaN] | Values: [0, 1, NaN] |
| **PreRdiastolicfirst** | Range: 60.0 - 138.0 | Range: 62.0 - 132.0 | Range: 60.0 - 124.0 | Range: 60.0 - 117.0 |
| **PreRdrink** | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] |
| **PreReducation** | Values: [1, 2, 3, 4, 5, 7, NaN] | Values: [1, 2, 3, 4, 5, 7, NaN] | Values: [1, 2, 3, 4, 5, NaN] | Values: [1, 2, 3, 4, 5, 6, 7, NaN] |
| **PreRfriedfood** | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] |
| **PreRgender** | Values: [1, 2, NaN] | Values: [1, 2] | Values: [1, 2, NaN] | Values: [1, 2] |
| **PreRheight** | Range: 125.0 - 184.0 | Range: 123.0 - 189.0 | Range: 124.0 - 184.0 | Range: 110.0 - 195.0 |
| **PreRhip** | Range: 63.0 - 128.0 | Range: 62.0 - 133.0 | Range: 60.0 - 131.0 | Range: 62.0 - 138.0 |
| **PreRlessfiber** | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] |
| **PreRlessfruit** | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] |
| **PreRlessvegetable** | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3] |
| **PreRmaritalstatus** | Values: [1, 2, 3, 4, NaN] | Values: [1, 2, 3, 4, 5, NaN] | Values: [1, 2, 3, 4, 5, NaN] | Values: [1, 2, 4, 5, NaN] |
| **PreRmeat** | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] |
| **PreRmildactivityduration** | Values: [1, 2, 3, 4, 5, NaN] | Values: [1, 2, 3, 4, 5, NaN] | Values: [1, 2, 3, 4, 5, NaN] | Values: [0, 1, 2, 3, 4, 5, NaN] |
| **PreRmilk** | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3] |
| **PreRmoderate** | Values: [1, 2, 3, 4, 5, 6, NaN] | Values: [1, 2, 3, 4, 5, 6, NaN] | Values: [1, 2, 3, 4, 5, 6, NaN] | Values: [1, 2, 3, 4, 5, 6, NaN] |
| **PreRmoderateduration** | Values: [1, 2, 3, 4, 5, NaN] | Values: [1, 2, 3, 4, 5, NaN] | Values: [1, 2, 3, 4, 5, NaN] | Values: [0, 1, 2, 3, 4, 5] |
| **PreRpresentoccupation** | Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, NaN] | Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, NaN] | Values: [1, 2, 3, 4, 5, 6, 8, 9, NaN] | Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, NaN] |
| **PreRskipbreakfast** | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3] |
| **PreRsleepquality** | Values: [1, 2, 3, 4, NaN] | Values: [1, 2, 3, 4, NaN] | Values: [1, 2, 3, 4, NaN] | Values: [1, 2, 3, 4, NaN] |
| **PreRstaplefood** | Values: [1, 2, 3, 4, 5, 6, NaN] | Values: [1, 2, 3, 4, 5, 6, NaN] | Values: [1, 2, 3, 4, 5, 6, NaN] | Values: [1, 2, 3, 5] |
| **PreRstfamilyvalue** | Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] | Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] | Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] | Values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] |
| **PreRstfinancialvalue** | Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] | Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] | Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] | Values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] |
| **PreRsthealthvalue** | Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] | Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] | Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] | Values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] |
| **PreRstworkvalue** | Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] | Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] | Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] | Values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, NaN] |
| **PreRsweet** | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] | Values: [1, 2, 3, NaN] |
| **PreRsystolicfirst** | Range: 85.0 - 197.0 | Range: 82.0 - 199.0 | Range: 80.0 - 192.0 | Range: 90 - 188 |
| **PreRvigorous** | Values: [1, 2, 3, 4, 5, 6, NaN] | Values: [1, 2, 3, 4, 5, 6, NaN] | Values: [1, 2, 3, 4, 5, 6, NaN] | Values: [1, 2, 3, 4, 5, 6, NaN] |
| **PreRvigorousduration** | Values: [1, 2, 3, 4, 5, NaN] | Values: [1, 2, 3, 4, 5, NaN] | Values: [1, 2, 3, 4, 5, NaN] | Values: [0, 1, 2, 3, 4, 5, NaN] |
| **PreRwaist** | Range: 60.0 - 146.0 | Range: 60.0 - 152.0 | Range: 60.0 - 167.0 | Range: 70.0 - 130.0 |
| **PreRweight** | Range: 35.0 - 107.0 | Range: 35.0 - 109.7 | Range: 35.0 - 122.0 | Range: 34.0 - 110.0 |
| **PreWaisttoHipRatio** | Range: 0.6 - 1.4 | Range: 0.6 - 1.2 | Range: 0.6 - 1.5 | Range: 0.8 - 1.4 |
| **current_alcohol** | Values: [0, 1] | Values: [0, 1] | Values: [0, 1] | Values: [0, 1, NaN] |
| **current_smoking** | Values: [0, 1] | Values: [0, 1] | Values: [0, 1] | Values: [0, 1, NaN] |
| **postblage** | Range: 19.0 - 83.0 | Range: 21.0 - 80.0 | Range: 18.0 - 85.0 | Range: 28 - 100 |
